body {
  padding: 0;
  margin: 0;
  font-family: "Anton", sans-serif;
  color: 000;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
p {
  padding: 0;
  margin: 0;
}
ul li {
  display: block;
}

.container {
  width: 1170px;
  margin: 0 auto; /*элемент по центру */
}
.header {
  background: url("../img/header-bg.jpg") no-repeat center top/cover;
  height: 900px;
}
header a {
  color: #ffffff;
}
.logo {
  margin-right: 69px;
}
.menu {
  display: flex; /*все элементы выравниваюся в одну линию */
}
.menu li a {
  text-transform: uppercase; /*все буквы заглавные */
  text-decoration: none; /* без подчёркивания*/
  font-size: 14px;
  letter-spacing: 0.1em; /*интервал между буквами */
}
.menu li {
  margin-right: 40px;
}
.tel {
  font-size: 17px;
  text-decoration: none; /*убираем подчёркивание*/
  margin-left: auto; /*максимально отодвигает к краю */
  letter-spacing: 0.1em;
}
.nav {
  display: flex; /*все элементы выравниваюся в одну линию */
  align-items: center; /*выравнивем элемменты на одном уровне по высоте */
  padding-top: 57px;
}

.offer {
  text-transform: uppercase;
  margin-top: 216px;
}
.offer p {
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0.1em;
}
.offer h1 {
  color: #ffffff;
  font-size: 100px;
  letter-spacing: 0.02em;
  margin-top: -9px;
  margin-bottom: 19px;
}
.btn {
  display: block;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration: none;
  border: 1px solid #fff;
  width: 191px;
  height: 22px;
  padding: 17px 23px;
}

section {
  padding-top: 113px;
}
h2 {
  font-size: 50px;
  margin-bottom: 58px;
}
h3 {
  font-size: 25px;
}
.desk-left {
  width: 567px;
}
.desk-right {
  width: 564px;
}
.description {
  display: flex; /*выровнять в одну строку */
  justify-content: space-between; /*растягивает элементы по краям*/
}
.description p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; /*Жирность текста */
  line-height: 1.62em; /*Расстояние между строками */
  text-align: justify; /*Выравнивание текста по ширине */
}
.gallery {
  display: flex; /*выровнять в одну строку */
  justify-content: space-between;
}
.footer-text {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-top: 114px;
  margin-bottom: 100px;
}
.footer-text p {
  margin-right: 67px;
}
